@import './fonts.css';
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @keyframes scroll {
        0% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(60px);
        }
    }

    @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}


.swiper-button-prev {
    background-image: url(https://www.svgrepo.com/show/533659/chevron-left.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next {
    background-image: url(https://www.svgrepo.com/show/533661/chevron-right.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}

