@font-face {
    font-family: 'SST Arabic';
    src: url('../fonts/SSTArabic-Light.eot');
    src: url('../fonts/SSTArabic-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SSTArabic-Light.woff2') format('woff2'),
        url('../fonts/SSTArabic-Light.woff') format('woff'),
        url('../fonts/SSTArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('../fonts/SSTArabic-Bold.eot');
    src: url('../fonts/SSTArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SSTArabic-Bold.woff2') format('woff2'),
        url('../fonts/SSTArabic-Bold.woff') format('woff'),
        url('../fonts/SSTArabic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

